<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.university">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.commonActivities.LoginActivity" />
        <activity android:name=".activities.studentActivities.StudentRegisterActivity" />
        <activity android:name=".activities.adminActivities.SearchStudentDetailsActivity" />
        <activity android:name=".activities.studentActivities.StudentLoginActivity" />
        <activity android:name=".activities.adminActivities.AdminLoginActivity" />
        <activity android:name=".activities.adminActivities.CreateAdminAccountActivity" />
        <activity android:name=".activities.lecturerActivities.LecturerLoginActivity" />
        <activity android:name=".activities.lecturerActivities.LecturerCreateAccountActivity" />
        <activity android:name=".activities.commonActivities.SearchCourseDetailsActivity" />
        <activity android:name=".activities.adminActivities.AddStudentActivity"></activity>
    </application>

</manifest>